<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Instance Packages Report</title>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:400,700' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <style type="text/css">
    body {
      font-family: 'Ubuntu', sans-serif;
    }
    h2 {
      font-size: 32px;
      margin-bottom: 5px;
      border-bottom: 1px dotted #e0e0e0;
    }
    pre {
      font-family: 'Ubuntu Mono', ;
    }

    strong.underline {
      display: block;
      border-bottom: 1px solid #f1f1f1;
    }

    .changelog-expand {
      cursor: pointer;
      color: #cdcdcd;
    }
    .urgency-low {
      color: #cecece;
    }
    .urgency-medium {
      color: #e8ca71;
    }
    .urgency-high, .urgency-emergency, .urgency-critical {
      color: #c63617;
    }
    .current-version {
      float: right;
      font-size: 12px;
      color: #cecece;
      padding-top: 3px;
    }

    #legend {
      position: absolute;
      top: 3px;
      right: 3px;
    }
  </style>
</head>
<body>
  <div id="legend">
  <strong>legend:</strong>
  <i class="fa fa-plus-circle urgency-low"></i> low priority <i class="fa fa-plus-circle urgency-medium"></i> medium priority <i class="fa fa-plus-circle urgency-high"></i> high priority
  </div>
  <% instances.each do |instance_id, packages| %>
      <h2><%= instance_id.sub(".json", "").split(/\//).last %></h2>
      <% packages.each do |pkg_name, pkg_info| %>
        <div>
          <strong class="underline">
          <% unless pkg_info["changelog"].empty? %>
 <i class="fa fa-plus-circle changelog-expand urgency-<%= pkg_info["changelog"].join.match(/urgency=(\w+)/)[1] %>"></i> 
          <% end %>
          <%= pkg_name %> <span class="current-version"><%= pkg_info["current_version"] %> -> <%= pkg_info["latest_version"] %></span>
          </strong>
          <pre style="display: none;"><%= pkg_info["changelog"].join.gsub("\n", "<br>") %></pre>
        </div>
      <% end %>
  <% end %>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script>
    $(function() {
      $(".changelog-expand").click(function(e) {
        var self = $(this);
        self.parent().parent().find("pre").toggle();
        self.toggleClass("fa-plus-circle");
        self.toggleClass("fa-minus-circle");
      });
    });
  </script>
</body>
</html>
